<div class="row">
    <div class="col s6">
            <img class="responsive-img" style="height: 100vh;" src="https://wallpaperaccess.com/full/123654.jpg">
    </div>
    <div class="col s6" style="height: 100vh;">
        <div class="valign-wrapper" style="height: 100%;">   
            <h1 class="center-align">STARTUP!</h1>
            <h5 class="center-align"> Anzure proof of concept</h3>
        </div>
    </div>
</div>